# Ignorar o ambiente virtual
.venv/
virtual/
venv/
env/

# Ignorar caches do Python
__pycache__/
*.py[cod]
*$py.class

# Ignorar arquivos de log e temporários
temp_files/
*.log

# Ignorar arquivos de dados e documentos sensíveis
dados/
documentos/

# Ignorar arquivos de cache específicos da aplicação
.cache/
backend/app/dados/cache/

# Ignorar arquivos de configuração de IDE
.vscode/
.idea/

# Ignorar arquivos de build e distribuição
build/
dist/
*.egg-info/

# Ignorar arquivos de sistema operacional
.DS_Store
Thumbs.db